@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

*{
    font-family: 'Comfortaa', cursive;
    margin: 0;
    padding: 0;
}

body{
    color: rgb(0, 0, 0);
    background-color:rgb(223, 242, 252);
}

nav{
    background-color: rgb(1, 64, 108);
    padding: 2rem;
}

#brand-name{
    font-size: xx-large;
    font-weight: bold;
    text-shadow: 0 0 5px #ffffff;
}

a{
    color: white;
    text-decoration: none;
    float: right;
    padding-right: 3rem;
}

.item-active{
    border: 1px solid;
    font-weight: bold;
    padding: 0.5rem 1rem;
}

.container{
    width: 70%;
    margin: auto;
    padding-top: 2rem;
}

.heading{
    text-align: center;
    margin-top: 1rem;
}

p{
    font-weight: bold;
    font-size: 2rem;
    width: 60%;
    text-align: center;
    background-color: rgb(139, 168, 189);
    border: 1px solid rgb(1, 64, 108);
    padding: 2rem;
    margin: 2rem 0rem;
    margin-left: 12rem;
}

label{
    font-weight: bold;
    font-size: large;
    margin: 2rem;
    padding: 1rem;
}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.5rem;
    margin: 1rem 1rem;
    background-color: rgb(1, 64, 108);
    width: 70%;
    cursor: pointer;
    margin-left:auto;
    margin-right:auto;
    display:block;
    margin-top:2%;
    
}

.input-area{
    font-size: 1.5rem;
    margin: 1rem;
    padding: 1rem 1rem;
    width: 50%;
    border: 2px solid rgb(1, 64, 108);
}

#output{
    font-size: 3em;
    font-weight: bold;
    margin: 2rem 1rem;
    text-align: center;
}

footer{
    float: left;
    margin-left: 33rem;
}

.footer a {
    padding-inline: 1rem;
    font-size: 50px;
    color: rgb(1, 64, 108);
    text-decoration: none;
}

